section {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 700px;

  &.table-wrap {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    display: grid;
    border: 1px solid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    div {
      &:first-child {
        display: flex;
        margin-right: 1rem;
        position: sticky;
        button {
          position: absolute;
          bottom: -6rem;
          margin-top: 1rem;
        }
      }
    }

    .table-con {
      height: 240px;
      overflow: auto;
      #caltable {
        width: 100%;
        thead {
          position: sticky;
          top: 0;
          z-index: 999;
          tr {
            th {
              background: #ccc;
              text-align: center;
              padding: 5px 20px;
              cursor: pointer;
              &:hover {
                background: #333;
                color: #ccc;
              }
            }
          }
        }
        tbody {
          tr {
            position: relative;

            &.on {
              border: 1px solid red;
              position: relative;

              &:after {
                content: " X ";
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: -100px;
                top: 0;
                border: 1px solid red;
              }
            }

            td {
              border: 1px solid #ccc;
              padding: 10px;

              &:hover {
                background: #ccc;
                cursor: pointer;
                // &:after {
                //   content: "delete this row";
                //   text-align: center;
                //   width: 100%;
                //   position: absolute;
                //   left: 0;
                //   top: 0;
                //   background: rgba(0, 0, 0, 0.6);
                //   z-index: 999;
                //   color: #fff;
                //   font-weight: 700;
                //   height: 100%;
                //   display: flex;
                //   align-items: center;
                //   justify-content: center;
                // }
              }
            }
          }
        }
      }
    }
  }
  input[type="text"],
  input[type="number"] {
    width: 50px;
    height: 30px;
    margin: 5px 0;
    padding: 10px;
  }
}

// modal
.modal-wrap {
  position: absolute;
  right: 0;
  width: calc(100% - 6rem);
  background: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid gray;
  padding: 2rem 0;
  z-index: 999;

  .btn-wrap {
    display: flex;
    gap: 1rem;
    button {
      outline: 0;
      background: #333;
      color: #fff;
      border: 1px solid #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #333;
        border: 1px solid #333;
      }
    }
  }
}
