// @import "reset.scss";

// color chips
$fff: #ffffff;
$black: #433e3f;
$gray: #635a5a;
$beige: #f8e5d2;
$red: #e65952;
$yel: rgb(217, 217, 28);
$yb: #fdfff8;
$blue: #1591e4;
//

// font
@font-face {
  font-family: "GoyangIlsan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "EllisDigitalCoding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

nav {
  position: relative !important;
  left: 0 !important;
}

//

.nav-wrap {
  width: 100%;
  height: 56px;
  background: $gray;
  color: $fff;
  opacity: 0.5;

  container-type: inline-size;
  container-name: navv;
  ul {
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
    gap: 1rem;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
    li {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 10px;
      border: 1px solid;
      border-radius: 5px;

      p {
        cursor: pointer;
        padding: 7px;
      }
    }
  }
}

.chip-wrap {
  display: flex;
  justify-content: end;
  align-items: end;

  gap: 10px;
  padding: 10px 0;
}
.chip {
  margin: 0 0.3rem;
  padding: 4px 10px;
  border-radius: calc(13 / 16 * 1rem);
  line-height: 1.6;
  &:nth-child(1) {
    margin: 0 0.3rem 0 0;
  }
  &.scss {
    background: $blue;
    color: #fff;
  }

  &.js {
    background: $yel;
    color: #333;
  }

  &.react {
    background: $red;
    color: $fff;
  }
}

article {
  background-color: #f8e5d2;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
  padding-top: 56px;
  gap: 6px;
  height: calc(100vh - 56px);
  overflow: hidden;

  section {
    color: #e65952;
    width: 100%;
    &.left {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      max-width: calc(100% - 1rem);
      border: 1px solid $black;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow-y: hidden;
      border-top-right-radius: 13px;
      border-bottom-left-radius: 13px;

      .title-wrap {
        margin: 2rem;
      }
      * {
        line-height: 1.7;
        letter-spacing: 0.08rem;
        color: #433e3f;
      }
      .para {
        background: #fff;
        padding: 10px;
        margin: 10px 0;
        width: auto;
      }

      svg {
        position: absolute;
        bottom: -25rem;
        opacity: 0.5;
      }
    }

    &.right {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      max-width: calc(100% - 1rem);
      display: flex;
      flex-direction: column;
      gap: 6px;

      .right-header {
        border: 1px solid $black;
        padding: 6px;
        height: 50px;
        position: relative;
        .idk {
          position: absolute;
          bottom: 0;
          font-family: "EllisDigitalCoding";
          font-size: 2rem;
          letter-spacing: 0.1rem;
          font-weight: 600;
        }
      }

      .works-wrap {
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: flex-end;

        .works {
          border: 1px solid $black;
          line-height: 1.8;
          transition: all 0.25s ease-in-out;
          cursor: pointer;
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 728px;
          padding: 1rem 0;
          background: $red;
          color: $fff;

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $black;
          }

          &:hover:not(.on) {
            transition: all 0.25s ease-in-out;
            color: #ddd;
            background-color: #2c2a29;
          }
          &.on {
            width: 100%;
            padding: 1rem 1.5rem;
            cursor: default;
            background: none;
            color: $black;
            background: $fff;
            .cont,
            .title-wrap {
              display: block;
            }

            .cont {
              .summary {
                display: flex;
                flex-direction: column;
                margin: 1rem 0;
                align-items: flex-start;
                padding: 0 1rem 1rem;
                border: 1px solid $gray;

                .chip-wrap {
                  display: flex;
                  justify-content: end;
                  align-items: end;
                  gap: 10px;
                  padding: 10px 0;
                  margin: 1rem 0;
                }
              }

              .desc {
                font-family: "GoyangIlsan";
                font-size: 1.05rem;
                letter-spacing: 0.05rem;
                line-height: 1.8;
                &:nth-child(2) {
                  display: none;
                }
                &.this {
                  margin-top: 1rem;
                }
              }

              .imgbox {
                display: block;
                border: 1px solid;
                width: 15rem;
                height: 13rem;
                margin: 1rem 0;
                background: $fff;
              }
            }

            &:first-child {
              .title-wrap {
                display: block;
              }
            }

            &:not(:first-child) {
              .folded-tit {
                display: block;
              }
            }
          }

          .folded-tit {
            transform: rotate(90deg);
            transform-origin: left top;
            font-weight: 600;
            letter-spacing: 0.1rem;
            padding: 0 0 0rem 1rem;
            font-size: 1.2rem;
            position: relative;
            left: 2.5rem;
            top: 0;
            height: fit-content;
            width: max-content;
            white-space: nowrap;
          }

          .cont {
            display: none;
          }

          .title-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            line-height: 1.5;
            letter-spacing: 0.1rem;
            font-family: "GoyangIlsan";
            font-weight: 600;
            .title,
            .date {
              letter-spacing: 0.1rem;
            }
            .title {
              font-size: 2.5rem;
            }
            .date {
              display: flex;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
}

article {
  container-type: inline-size;
  container-name: card;
}

@container navv (max-width: 1024px) {
  .nav-wrap {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: auto;
    display: block;
    position: fixed;
    right: 7px;
    top: 0;

    &.rotate {
      transform: rotate(360deg);
      transition: transform 0.5s ease;
    }

    .box {
      z-index: 9999;
    }
    ul {
      width: 100%;
      height: 7rem;
      margin-right: 10px;
      margin-left: 0;
      max-width: 100%;
      left: 0;
    }
  }
}
@container card (max-width: 500px) {
  article {
    section {
      &.left {
        margin-left: 0;
        max-width: calc(100% - 2.4rem);
        margin: 0 auto;
        border-radius: 0;
        .title-wrap {
          h1 {
            font-size: 1.6rem;
          }
        }
      }
      &.right {
        margin-left: 0;
        max-width: calc(100% - 2.4rem);
        margin: 0 auto;
        gap: 0;

        .right-header {
          border: none;
        }

        .works-wrap {
          flex-direction: column;

          .works {
            max-height: 300px;
            &.on {
              max-height: 300px;
              padding: 2rem 1.2rem;
              width: 100%;
              overflow-x: auto;
              max-width: fit-content;
              .cont {
                .imgbox {
                  width: 100%;
                  height: 100%;
                }

                .summary {
                  .chip-wrap {
                    display: block;
                    width: 100%;
                    .title {
                      margin-bottom: 10px;
                    }
                  }
                }
              }

              .title-mark {
                width: 30px;
                height: 30px;
                background: #333;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1.9;
                position: sticky;
                right: 1rem;
                top: 0;
              }
            }

            .folded-tit {
              text-align: left;
              transform: none;
              padding: 0 1rem;
              font-size: 1.03rem;
            }
          }
        }
      }
    }
  }
}

.box {
  width: 100%;
  height: 50px;
  display: none;

  .pc-only {
    display: flex;
  }
}

// https://www.fffuel.co/dddoodle/
@media (max-width: 500px) {
  .box {
    width: 100px;
    height: 60px;
    display: flex;
    background: $red;
    position: fixed;
    right: 123px;
    top: -17px;
    border-radius: 16px;
  }
  article {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .nav-wrap {
    width: 7rem;
    height: 7rem;
    margin-left: auto;
    display: block;
    position: fixed;
    right: 7px;
    top: 0;
    z-index: 999;
    background: none;

    &.rotate {
      transform: rotate(360deg);
      transition: transform 0.5s ease;
    }

    .pc-only {
      display: none;
    }
  }

  .mo-only {
    position: fixed;
    background: $black;
    color: $fff;
    top: 0;
    width: calc(100% - 1rem);
    margin: 0 auto;
    left: 7px;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
    list-style: none;
  }
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 100px auto;
}

.line {
  position: absolute;
  background-color: gold;
  transition: all 0.2s ease-out;
}

.topp {
  top: 0;
  left: 0;
  height: 4px;
  width: 0;
}

.rightt {
  top: 0;
  right: 0;
  width: 4px;
  height: 0;
}

.bottomm {
  bottom: 0;
  left: 0;
  height: 4px;
  width: 0;
}

.leftt {
  top: 0;
  left: 0;
  width: 4px;
  height: 0;
}
