// @import "reset.scss";

// color chips
$fff: #ffffff;
$black: #433e3f;
$gray: #635a5a;
$beige: #f8e5d2;
$red: #e65952;
$yel: rgb(217, 217, 28);
$yb: #fdfff8;
$blue: #1591e4;
$palebl: #58c4dc;
$brn: #a86454;
//

// font
@font-face {
  font-family: "GoyangIlsan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "EllisDigitalCoding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}

nav {
  position: relative !important;
  left: 0 !important;
}

//

.nav-wrap {
  width: 100%;
  height: 56px;
  background: $gray;
  color: $fff;
  opacity: 1;
  container-type: inline-size;
  container-name: navv;

  ul {
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
    gap: 1rem;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
    li {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 10px;
      border: 1px solid;
      border-radius: 5px;

      a {
        padding: 7px;
        &:link {
          color: $fff;
        }
      }
    }
  }
}

.chip-wrap {
  display: flex;
  justify-content: left;
  align-items: center;

  gap: 10px;
  padding: 10px 0;

  .tit-wrap {
    display: flex;
    gap: 1rem;
    padding: 0 10px;
    align-items: center;
    margin-right: 1rem;
  }
}
.chip {
  margin: 0 0.3rem;
  padding: 4px 10px;
  border-radius: calc(13 / 16 * 1rem);
  line-height: 1.6;
  &:nth-child(1) {
    margin: 0 0.3rem 0 0;
  }
  &.css {
    background: $blue;
    color: #fff;
  }
  &.scss {
    background: $blue;
    color: #fff;
  }
  &.js {
    background: $yel;
    color: #333;
  }
  &.react {
    background: $palebl;
    color: $fff;
  }
  &.pug {
    background: $brn;
    color: $fff;
  }
}

.matome-content {
  height: calc(100vh - 2rem);
}

article {
  background-color: #f8e5d2;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  height: calc(100vh - 7rem);
  padding-top: 10px;
  gap: 6px;
  // height: calc(100vh - 56px);
  overflow: hidden;

  container-type: inline-size;
  container-name: cardnew;

  section {
    color: #e65952;
    width: 100%;
    &.left {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      max-width: calc(100% - 1rem);
      border: 1px solid $black;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow-y: hidden;
      border-top-right-radius: 13px;
      border-bottom-left-radius: 13px;
      max-height: 53rem;

      .title-wrap {
        margin: 2rem;
      }
      * {
        line-height: 1.7;
        letter-spacing: 0.08rem;
        color: #433e3f;
      }
      .para {
        background: #fff;
        padding: 1.5rem;
        margin: 10px 0;
        width: auto;
      }

      svg {
        position: absolute;
        bottom: -25rem;
        opacity: 0.5;
      }
    }

    &.right {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      max-width: calc(100% - 1rem);
      display: flex;
      flex-direction: column;
      gap: 6px;
      height: 100vh;

      container-type: inline-size;
      container-name: worksBox;

      .right-header {
        border: 1px solid $black;
        padding: 6px;
        height: 50px;
        position: relative;
        .idk {
          position: absolute;
          bottom: 0;
          font-family: "EllisDigitalCoding";
          font-size: 2rem;
          letter-spacing: 0.1rem;
          font-weight: 600;
        }
      }

      .works-wrap {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 100%;
        width: 100%;
        min-height: 500px;

        .works {
          border: 1px solid $black;
          line-height: 1.8;
          transition: all 0.25s ease-in-out;
          cursor: pointer;
          overflow-y: auto;
          overflow-x: hidden;
          max-width: 5rem;
          max-height: 51rem;
          height: 100%;
          padding: 1rem 0;
          background: $red;
          color: $fff;

          flex-shrink: 0;

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $black;
          }

          &:hover:not(.on) {
            transition: all 0.25s ease-in-out;
            color: #ddd;
            background-color: #2c2a29;
          }
          &.on {
            width: 100%;
            padding: 1rem 0;
            cursor: default;
            background: none;
            color: $black;
            background: $fff;
            max-width: 100%;
            flex: 1;

            .cont,
            .title-wrap {
              display: block;
            }

            .cont {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding-bottom: 10rem;
              .summary {
                display: flex;
                flex-direction: column;
                margin: 1rem 0;
                align-items: flex-start;
                padding: 0 1rem 1rem;
                border: 1px solid $gray;
                width: calc(100% - 6rem);
                .chip-wrap {
                  display: flex;
                  justify-content: center;
                  align-items: end;
                  gap: 10px;
                  padding: 10px 0;
                  margin: 1rem 0;
                  .title {
                    font-size: 1.2rem;
                  }
                }

                .btn-move {
                  background: $red;
                  border: 2px solid $beige;
                  padding: 5px 1rem;
                  margin: 1.5rem auto;
                  &:link {
                    color: $fff;
                  }
                }

                .btn-wrap {
                  // width: calc(100% - 3rem);
                  // display: flex;
                  // gap: 10px;
                  display: flex;
                  flex-wrap: wrap;
                  gap: 1rem;
                  .btn-link {
                    padding: 7px 1rem;
                    background: $black;
                    color: $fff;
                    border-radius: 4px;
                  }

                  .subdesc-box {
                    &.notyet {
                      .btn-link {
                        background: $fff;
                        color: $black;
                        border: 1px dashed $black;
                      }
                    }
                    p {
                      margin: -1rem 6px 1rem;
                      display: block;
                    }
                  }
                }

                .works-desc {
                  padding-left: 14px;
                  .txt {
                    position: relative;
                    font-size: 1rem;
                    line-height: 2;
                    &:before {
                      content: "";
                      width: 4px;
                      height: 4px;
                      border-radius: 50%;
                      background: $blue;
                      position: absolute;
                      left: -10px;
                      top: 14px;
                    }
                  }
                }
              }

              .desc {
                font-family: "GoyangIlsan";
                font-size: 1.05rem;
                letter-spacing: 0.05rem;
                line-height: 1.8;
                &:nth-child(2) {
                  display: none;
                }
                &.this {
                  margin-top: 1rem;
                }
              }

              .imgbox {
                display: block;
                border: 1px solid;
                width: 15rem;
                height: 13rem;
                margin: 1rem 0;
                background: $fff;
              }
            }

            &:first-child {
              .title-wrap {
                display: block;
              }
            }

            &:not(:first-child) {
              .folded-tit {
                display: block;
              }
            }
          }

          .folded-tit {
            transform: rotate(90deg);
            transform-origin: left top;
            font-weight: 600;
            letter-spacing: 0.1rem;
            padding: 0 0 0rem 1rem;
            font-size: 1.2rem;
            position: relative;
            left: 2.5rem;
            top: 0;
            height: fit-content;
            width: max-content;
            white-space: nowrap;
          }

          .cont {
            display: none;
          }

          .title-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            line-height: 1.5;
            letter-spacing: 0.1rem;
            font-family: "GoyangIlsan";
            font-weight: 600;
            .title,
            .date {
              letter-spacing: 0.1rem;
            }
            .title {
              font-size: 2.5rem;
              width: calc(100% - 3rem);
              margin: 0 auto;
            }
            .date {
              display: flex;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
}

@container navv (max-width: 1024px) {
  .nav-wrap {
    &.rotate {
      transform: rotate(360deg);
      transition: transform 0.5s ease;
    }

    .box {
      z-index: 9999;
    }
    ul {
      width: 100%;
      margin-right: 2rem;
      margin-left: 0;
      max-width: 100%;
      left: 0;
    }
  }
}

@container cardnew (max-width: 1024px) {
  article {
    height: auto;
    min-height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    overflow: visible;

    section {
      width: 100%;

      &.left {
        margin: 1rem auto 1rem;
        max-width: calc(100% - 2.4rem);
        max-height: none;
        .title-wrap {
          margin: 1rem;
        }
      }

      &.right {
        margin: 0 auto;
        max-width: calc(100% - 2.4rem);
        height: auto;

        .works-wrap {
          flex-direction: column;
          height: auto;

          .works {
            flex-shrink: 0;
            height: auto;
            min-height: 50px;
            max-height: none;
            max-width: 100%;

            &.on {
              width: auto;
              max-width: 100%;
              max-height: 26rem;
              overflow-y: auto;
              padding: 2rem 1.2rem;
              background: #fff;

              .title-wrap {
                .title {
                  font-size: 1.6rem;
                  width: 100%;
                  text-align: center;
                }
              }

              .cont {
                display: flex;
                flex-direction: column;
                padding-bottom: 4rem;
                .summary {
                  width: 100%;
                  box-sizing: border-box;
                  .chip-wrap {
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .tit-wrap {
                      flex-direction: column;
                      padding: 0;
                    }
                  }
                }
              }
            }

            .folded-tit {
              transform: none;
              left: 0;
              top: 0;
              padding: 1rem;
              text-align: left;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

.box {
  width: 100%;
  height: 50px;
  display: none;

  .pc-only {
    display: flex;
  }
}

// https://www.fffuel.co/dddoodle/
@media (max-width: 1024px) {
  .box {
    width: 100px;
    height: 60px;
    display: flex;
    background: $red;
    position: fixed;
    right: 123px;
    top: -17px;
    border-radius: 16px;
  }
  article {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .nav-wrap {
    right: 0;
    top: 0;

    &.rotate {
      transform: rotate(360deg);
      transition: transform 0.5s ease;
    }
  }

  .mo-only {
    position: fixed;
    background: $black;
    color: $fff;
    top: 0;
    width: calc(100% - 1rem);
    margin: 0 auto;
    left: 7px;
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
    list-style: none;
  }
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 100px auto;
}
