@import "reset.scss";

// color chips
$fff: #ffffff;
$black: #433e3f;
$beige: #f8e5d2;
$red: #e65952;
$blue: #1591e4;
//

// font
@font-face {
  font-family: "GoyangIlsan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "EllisDigitalCoding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

//

.nav-wrap {
  width: 100%;
  height: 56px;
  background: $black;
  color: $fff;
  ul {
    display: flex;
    margin-left: auto;
    margin-right: 5rem;
    gap: 1rem;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
    li {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 0 10px;
      border: 1px solid;
      border-radius: 5px;

      p {
        cursor: pointer;
        padding: 7px;
      }
    }
  }
}

.chip {
  margin: 0 0.3rem;
  padding: 4px 10px;
  border-radius: 1rem;
  line-height: 1.6;
  &:nth-child(1) {
    margin: 0 0.3rem 0 0;
  }
  &.one {
    background: $blue;
    color: #fff;
  }

  &.two {
    background: $black;
    color: #fff;
  }

  &.three {
    background: $red;
    color: $fff;
  }
}

article {
  background-color: #f8e5d2;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
  padding-top: 56px;
  gap: 6px;
  height: calc(100vh - 56px);

  section {
    color: #e65952;
    width: 100%;
    &.left {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 1rem;
      max-width: calc(100% - 1rem);
      border: 1px solid;
      display: flex;
      flex-direction: column;
      .title-wrap {
        margin: 2rem;
      }
      * {
        line-height: 1.7;
        letter-spacing: 0.08rem;
        color: #433e3f;
      }
    }

    &.right {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      max-width: calc(100% - 1rem);
      display: flex;
      flex-direction: column;
      gap: 6px;

      .right-header {
        border: 1px solid $black;
        padding: 6px;
        height: 50px;
        position: relative;
        .idk {
          position: absolute;
          bottom: 0;
          font-family: "EllisDigitalCoding";
          font-size: 2rem;
          letter-spacing: 0.1rem;
          font-weight: 600;
        }
      }

      .works-wrap {
        display: flex;
        flex-direction: row;
        height: fit-content;
        justify-content: flex-end;

        .works {
          border: 1px solid $black;
          line-height: 1.8;
          transition: all 0.25s ease-in-out;
          cursor: pointer;
          overflow-y: auto;
          overflow-x: hidden;
          max-height: 728px;
          padding: 1rem 0;
          background: $red;
          color: $fff;

          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $black;
          }

          &:hover:not(.on) {
            transition: all 0.25s ease-in-out;
            color: #ddd;
            background-color: #2c2a29;
          }
          &.on {
            width: 100%;
            padding: 1rem 1.5rem;
            cursor: default;
            background: none;
            color: $black;
            .cont,
            .title-wrap {
              display: block;
            }

            .cont {
              .summary {
                display: flex;
                align-items: center;
              }

              .desc {
                font-family: "GoyangIlsan";
                font-size: 1.05rem;
                letter-spacing: 0.05rem;
                line-height: 1.8;
                &:nth-child(2) {
                  display: none;
                }
                &.this {
                  margin-top: 1rem;
                }
              }

              .imgbox {
                display: block;
                border: 1px solid;
                width: 15rem;
                height: 13rem;
                margin: 1rem 0;
                background: $fff;
              }
            }

            &:first-child {
              .title-wrap {
                display: block;
              }
            }

            // 나머지 탭일 때 folded-tit 보여줌
            &:not(:first-child) {
              .folded-tit {
                display: block;
              }
            }
          }

          .folded-tit {
            transform: rotate(90deg);
            font-weight: 600;
            letter-spacing: 0.1rem;
            padding: 10px 0 1rem 1rem;
            letter-spacing: 0.1rem;
            font-size: 1.1rem;
          }

          .cont {
            display: none;
          }

          .title-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            line-height: 1.5;
            padding-bottom: 1rem;

            letter-spacing: 0.1rem;
            font-family: "GoyangIlsan";
            font-weight: 600;
            .title,
            .date {
              letter-spacing: 0.1rem;
            }
            .date {
              display: flex;
              align-self: flex-end;
            }
          }
        }
      }
    }
  }
}

article {
  container-type: inline-size;
  container-name: card;
}

@container card (max-width: 500px) {
  article {
    section {
      &.left {
        margin-left: 0;
        max-width: calc(100% - 1rem);
        margin: 0 auto;
      }
      &.right {
        margin-left: 0;
        max-width: calc(100% - 1rem);
        margin: 0 auto;

        .works-wrap {
          flex-direction: column;

          .works {
            max-height: 300px;
            &.on {
              max-height: 300px;
              padding: 1rem;
              width: 100%;
              overflow-x: auto;
              max-width: fit-content;
              .cont {
                .imgbox {
                  width: 100%;
                  height: 100%;
                }
              }
            }

            .folded-tit {
              text-align: left;
              transform: none;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  article {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}
